@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --color-bg: #eef0f1;
  --color-text: #08090a;
  --color-blue: #3b49df;
  --color-red: #df3b3b;
  --color-green: #3bdf72;
  --color-gray: #b5bdc4;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  /* margin-top: 35px; */
  margin-bottom: 40px;
}



main {
  padding: 1rem 10vw;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h2 { font-size: 1.25rem; }

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

/* img {max-width: 100%;} */

input { 
  display: inline-block; 
  outline: none;
  border: none;
  font-size: 1.5rem;
  width: 100%;
  padding: 5px 10px;
}

fieldset {
  border: none;
  padding: 1rem 0;
  font-size: 1.25rem;
}

code {
  overflow-x: scroll;
}


/* Navbar */


.navbar {
  height: 70px;
  width: 100%;
  background: white;
  color: var(--colors-text);
  position: fixed;
  bottom: 0;
  padding: 0 10vw;
  font-weight: bold;
  border-bottom: 1px solid var(--color-gray);
  z-index: 99;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.navbar img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.navbar li {
  border-radius: 50%;
  
}

.topnavbar {
  height: 70px;
  width: 100%;
  background: white;
  color: var(--colors-text);
  position: fixed;
  top: 0;
  padding: 0 10vw;
  font-weight: bold;
  border-bottom: 1px solid var(--color-gray);
  z-index: 99;
}

.topnavbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.topnavbar img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.topnavbar li {
  border-radius: 50%;
  
}

/* Buttons */

.btn, button {
  background-color: var(--color-gray);
  border: none;
  color: var(--color-text);
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  border-radius: 0.25rem;
  cursor: pointer;
  /* margin: auto; */
  /*margin: 0.5rem 1rem 0.5rem 0;*/
}

@media only screen and (max-width: 768px) {
  button {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
  }
}


button:hover {
  filter: brightness(90%);
}

button:disabled,
button[disabled]{
  filter: brightness(80%);
  cursor: not-allowed;
}

button.btn-blue {
  /* background-color: var(--color-blue); */
  
  background-color: #34cc98;
  color: white;
}

button.btn-red {
  background-color: var(--color-red);
  color: white;
}

button.btn-green {
  /* background-color: var(--color-green); */
  background-color: #34cc98;
  color: white;
}

button.btn-google {
  background-color: white;
  color: var(--color-text);
}

.btn-google img {
  width: 30px;
  margin-right: 10px;
}

button.btn-logo {
  background-color: var(--color-text);
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}

/* Cards */

.card {
  width: 100%;
  /* padding: 2rem; */
  /* margin: 1rem 0; */
  background-color: white;
  border: 1px solid var(--color-gray);
  border-radius: 8px;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.feedcard {
  padding: 2rem;
  margin: 1rem 0;
  background-color: white;
  border: 1px solid var(--color-gray);
  border-radius: 8px;
}

.newsCard {
  /* padding: 2rem;
  /* margin: 1rem 0 ; */
  /* margin: auto;
  width: 55%;
  background-color: white;
  border: 1px solid var(--color-gray);
  border-radius: 8px;  */
  margin-bottom: 20px;
}

/* @media only screen and (max-width: 800px){
  .newsCard{
    width: 90%;
  }
} */

.newsSpace{
  height: 300px;
}

.newsBtnAlign{
  width: 50%;
  margin: auto;
}


.card footer {
  display: flex;
}

.card-img-center {
  width: 75%;
  display:block;
  margin:auto;
  border-radius: 50%;
  /* max-width: 150px; */
}

.card-info {
  color: white;
  background: var(--color-blue);
}

.newsImage {
  width: 100%;
  margin: auto;
  height: 10%;
  position: relative;
  text-align: center;
}

.feedImage {
  width: 30%;
  margin: auto;
  height: 10%;
  position: relative;
  text-align: center;
}

/* Loader */
.loader {
  border: 10px solid var(--color-bg); 
  border-top: 10px solid var(--color-green); 
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* File uploads */

input[type="file"] {
  display: none;
}

.upload-snippet {
  width: 75%;
    margin-left: auto;
    background: white;
    padding: 5px;
    margin: 5px 0;
}
/* Utilities */

.push-left {
  margin-left: auto;
}

.text-sm {
  font-size: 0.85rem;
}

.text-danger {
  font-weight: bold;
  color: var(--color-red);
}

.text-success {
  font-weight: bold;
  color: var(--color-green);
}

.text-info {
  font-weight: bold;
  /* color: var(--color-blue); */
  color: #34cc98;
}

.box {
  display: flex;
  justify-content: space-between;
}

.box-center {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  margin-bottom: 40px;
}

.box-center2{
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  margin-bottom: 20px;
}

.hidden { display:  none; }

.nav-iconDIV{
  position: relative;
  width: 50px;
  /* top: 15px; */

}

.nav_icon{
  /* bottom: -10px;
  position:absolute; */
  cursor: pointer;
}

.nav_text{
  position: absolute;
  color: #34CC98;
}

.profileItemDiv{
  /* margin-top: 20px; */
  display: grid;
  margin: auto;
  grid-template-columns: 30% 30% 30%;
  /*grid-template-columns: 500px 500px 500px; 
  grid-template-columns: auto auto auto;*/
  /* grid-gap: 5%; */
  grid-gap: 20px;
  /* width: 90%; */
  margin: auto;
  /* margin-top: 25px; */
  margin-bottom: 60px;
}


@media only screen and (max-width: 768px) {
  .profileItemDiv {
    width: 95%;
    /* grid-template-columns: auto; */
    /* grid-template-columns: 30% 30% 30%; */ 
    grid-template-columns: 100%;
    margin: auto;
    grid-gap: 10px;
  }
}

 .Post-top-wrapper{
  /*position: absolute;*/
  width: 100%;
  margin: auto;
  min-height: 150px;
  background: #F8F8F8;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius : 20px;
  border-bottom-right-radius: 20px;
  
}
  .Personal-profile{
  /* font-family: Roboto; */
  font-style: normal;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  
  color: #000000;

}
  

.UserName-box{
 
  width: 85%;
  /*
   position: absolute;
  height: 130px;
  left: 8%;
*/  
  top: 75px;
  margin: auto;
  background: #FFFFFF;
  border-radius: 20px; 
  margin-bottom: 20px;
}

.UserName{
  /* font-family: Roboto; */
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  color: #000000;
  
  display: grid;
  margin: auto;
  grid-template-columns: 20% 80%;
  /*grid-template-columns: 500px 500px 500px; 
  grid-template-columns: auto auto auto;*/
  grid-gap: 40px;
  width: 90%;
  margin: auto;
}


/* .UserName{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 33px;
  margin-top: 1.5%;
  margin-left: 25%;
  color: #000000;
} */


.follow-btn{
  position: absolute;
  width: 28%;
  height: 28px;
  left: 68%;
  right: 30%;
  top: 10px;

  border: 1px solid #1C4C4E;
  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 30px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 28px;

  color: #1C4C4E;
}

.ProfileName{
  font-size: 20px;
}

.StateSentence{
  /* font-family: Roboto; */
  font-style: normal;
  font-weight: normal;
  /* font-size: 20px; */
  /* line-height: 20px; */
  /* margin-left: 25%; */
  color: #9D9D9D; 
}

/* .UserPoint-box{
  position: absolute;
  width: 100%;
  height: 65px;
  left: 0px;
  right: 0px;
  top: 65px;

  background: #34CC98;
  border-radius: 30px;
  } */

.Picture-following{
  word-spacing: 1.5em;
  /* font-family: Roboto; */
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  /* margin-left: 12%; */
  color: #1C4C4E;
}

.Number-Picture-following{
  word-spacing: 2.0em;
  /* font-family: Roboto Mono; */
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 42px;
  /* margin-left: 14%; */
  color: #FFFFFF;
}
 */

 .profilePageSpacer{
   height: 30px;
 }

 .UserPoint-box{
   /*
  position: absolute;
  */
  width: 100%;
  height: 65px;
  left: 0px;
  right: 0px;
  top: 65px;
  /* margin-top: 10px; */
  /* margin-bottom: 10px; */
  background: #34CC98;
  border-radius: 0px 0px 20px 20px;
  }

  .profileDisplayName{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 15px;
  }

  .profileUserBoxPadding{
    height: 20px;
  }

  .shop-item-card{
    width: 95%;
    margin: auto;
    /* margin-bottom: 20px; */
    margin-top: 20px;
    /* padding: 25px; */
    border-radius: 20px;
  }

  .shop-item-image{
    object-fit: cover;
    border-radius: 25px;
    cursor: pointer;
  }

  .shop-item-container {
    width: 80%;
    height: 200px;
    margin: auto;
    padding: 10px;
  }
  
  .shop-item-one {
    width: 25%;
    height: 200px;
    float: left;
  }
  
  .shop-item-two {
    margin-left: 15%;
    padding: 15px;
    height: 200px;
  }

  .shop-item-three{
    float: right;
  }

  .shop-item-topic{
    font-weight: bold;
    text-align: left;
  }

  .shop-item-text{
    margin-top: 20px;
    font-size: 12px;
    text-align: center;

  }

  .flex-container {
    display: flex;
    align-items: stretch;
  }
  
  .flex-container > div {
    /* margin: 10px; */
    text-align: center;
  }

  .flex1{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
  }

  .flex2{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .flex8{
    flex-grow: 8;
    margin: 10px;
  }

  .shop-item-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .shop-button-column{
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
  }

  .shop-button {
    background-color: #34cc98; /* Green */
    border: none;
    color: white;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* border-radius: 10px; */
    /* font-size: 16px; */
    height: 100%;
  }

  .shop-button2 {
    background-color: #34cc98; /* Green */
    border: none;
    color: white;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    /* font-size: 16px; */
  }

  .basket-button {
    background-color: #34cc98;
    border: none;
    color: white;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* font-size: 16px; */
    /* margin: 4px 2px; */
    cursor: pointer;
  }

  .product-button {
    background-color: white;
    border: none;
    color: #28B67E;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    /* font-family: 'Roboto'; */
    font-style: normal;
    font-size: 20px;
    line-height: 10px;

  }

  .point-store-bar {
    width: 80%;
    /* height: 58px; */
    top: 300px;
    margin: auto;
    background:#FFFFFF;;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30.5px;
  }

  .home-top{
    height: 15vh;
    background-color:#34CC98;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 3px 6px rgb(0 0 0 / 10%);
  }

  .feed-top{
    height: 5vh;
    background-color:#34CC98;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 3px 6px rgb(0 0 0 / 10%);
  }

  .home-search-area{
    width: 80%;
    margin: auto;
  }

  .load-button{
    background-color: #34CC98;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }


/* 
  .w3-content,
  .w3-auto{margin-left:auto;margin-right:auto}
  .w3-content{max-width:980px}.w3-auto{max-width:1140px}

  .w3-display-container{position:relative}
  .w3-center .w3-bar{display:inline-block;width:auto}
  .w3-bar-block.w3-center .w3-bar-item{text-align:center}.w3-block{display:block;width:100%}
  .w3-center{text-align:center!important}
  .w3-section,.w3-code{margin-top:16px!important;margin-bottom:16px!important}
  .w3-large{font-size:18px!important}
  .w3-text-white,.w3-hover-text-white:hover{color:#fff!important}
  .w3-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
  .w3-left{float:left!important}.w3-right{float:right!important}
  .w3-hover-text-khaki:hover{color:#b4aa50!important}
  .w3-right{float:right!important}
  .w3-badge,.w3-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.w3-badge{border-radius:50%}
  .w3-border{border:1px solid #ccc!important}
  .w3-transparent,.w3-hover-none:hover{background-color:transparent!important}
  .w3-white,.w3-hover-white:hover{color:#000!important;background-color:#fff!important} */

  .each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 350px;
  }
  
  .each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }

  .text-right{
    text-align: right;
  }

  .card-height{
    height: 100%;
  }


  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.basket-top{
  /* height: 15vh; */
  /* background-color:#ffffff; */
  background-color: #34CC98;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0px 3px 6px rgb(0 0 0 / 10%);
  /* bottom: 0; */
  /* position:absolute;
  bottom:0; */
  width: 100%;
}

.basket-card-container{
  width: 85%;
  margin: auto;
}

.barcode-card-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.barcode-card-inner-container{
  display: flex;
  flex-direction: column;
  text-align: left;
}

.follow-button{
  background-color: #28B67E;
  width: 150px;
  color: white;
}

.follow-button:hover{
  background-color: #3bdf72;
}

.feed-search-area{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.feed-search{
  width: 350px;
}

textarea {
  width: 100%;
  min-height: 100px;
}

.post-layout{
  display: flex;
  flex-direction: row;
}

.post-content-padding{
  padding-left: 40px;
  padding-right: 40px;
}

.post-name-container{
  display: flex;
  flex-direction: row;
}

.shop-items-container{
  width: 70%;
  margin: auto;
}

@media only screen and (max-width: 768px) {
  .shop-items-container{
    width: 90%;
    margin: auto;
  }
}

.white-title{
  color: white;
}

.news-top{
  /* height: 15vh; */
  /* background-color:#ffffff; */
  background-color: #34CC98;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0px 3px 6px rgb(0 0 0 / 10%);
  /* bottom: 0; */
  /* position:absolute;
  bottom:0; */
  width: 100%;
}

.upload-container{
  width: 50%;
  margin: auto;
}

@media only screen and (max-width: 768px) {
  .upload-container{
    width: 90%;
    margin: auto;
  }
}

.enter-page-container{
  display: flex;
  flex-direction: column;
  /* height: calc(100vh - 70px); */
  height: 550px;
  margin-top: 200px;
}

.enter-button-area{
  background-color: #34cc98;
  border-radius: 20px;
  flex-grow: 1;
  width: 40%;
  margin: auto;
}

@media only screen and (max-width: 768px) {
  .enter-button-area{
    width: 100%;
    margin: auto;
  }
}

.button-in-basket{
  background-color: #eef0f1;
  color:#34cc98;
}